body {
	margin: 0px;
	padding: 0px;
	font-family: AtlasGrotesk,sans-serif;
}

#sideleft {
	float: left;
	width: 240px;
	min-width: 240px;
	background-color: #333;
	height: 631px;
	overflow: hidden;
	position: fixed;
	margin-top: 93px;
}

#menu {
	overflow-y: auto;`
	position: absolute;
	top: 96px;
	bottom: 0;
	width: 200px;
}

#menu ul {
	list-style: none;
	margin-top: 40px;
	margin-left: -10px;
}

#menu ul li {
	margin: 5px 0px;
}

#menu ul li a {
	text-decoration: none;
	color: white;
	font-weight: normal;
	display: block;
	padding: 10px;
	border-bottom: 1px dashed white;
	transition: all 0.5s;
}

#menu ul li a:hover {
	color: white;
	background-color: #4183D7;
}

#header {
	position: fixed;
	overflow: hidden;
	justify-content: space-between;
	white-space: nowrap;
	/*width: calc(100% - (200px + 1 * 40px));
	max-width: 744px;*/
	width: 100%;
	background: #4183D7;
}

#hleft {
	float: left;
	width: 300px;
}

#hleft img {
	width: 100px;
	float: left;
	margin: 5px 0px 5px 5px;
}

.title h2 {
	padding: 0px;
	margin: 0px;
	margin: 30px 30px 30px 20px;
}

#hright {
	float: ;
	overflow: hidden;
}

.form {
	float: right;
}

.form form {
	margin: 30px 100px 20px 20px;
}

.form form input[type='text'] {
	padding: 5px 5px 5px 10px;
	border : 1px solid #C1C7CD;
	border-radius: 50px;
	z-index: 2;
}

.admin {
	text-align: right;
	margin: 30px 35px 20px 20px;
	color: #3d464d;
}

#content {
	width: calc(100% - (200px + 1 * 40px));
	margin-left: 240px;
	overflow: hidden;
}

#content-top {
	margin: 90px 0px;
	overflow: hidden;
}

#cleft {
	width: 100%;
	float: left;
	padding: 20px;
}

#cright {
	width: 240px;
	float: left;
	background: white;
	position: fixed;
	margin-left: 900px;
	height: 631px;
	z-index: 99;
	margin-top: 5px;
}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 100%;
}

.dropzone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center;
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

.dropzone.dragover {
	color: #222;
	border-color: #222;
}

#myform {
	width: 500px;
}

.myinput {
	border: 0px;
	box-shadow: 0px 0px 3px black;
	border-radius: 5px;
}

#avatar {
	width: 65px;
	height: 65px;
	background: #4183D7;
	float: left;
	overflow: hidden;
	border-radius: 100%;
	margin: -16px 10px 0px -58px;
	border: 2px solid #5cb85c;
	cursor: pointer;
	box-shadow: 0px 0px 5px 5cb85c;
	transition: box-shadow 0.5s;
	z-index: 9999;
	position: absolute;
}

#avatar:hover {
	box-shadow: none;
}

#avatar img {
	width: 65px;
	height: 65px;
	margin-left: -2px;
	margin-top: -3px;
	border-radius: 100%;
}

#profil {
	margin-left: -143px;
	float: left;
}

#profil a {
	text-decoration: none;
	color: white;
}

#editprofil {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	float: right;
	margin-right: 300px;
	margin-top: -1330px;
	box-shadow: 0px 0px 5px black;
	transition: box-shadow 0.5s;
	cursor: pointer;
}

#editprofil:hover {
	box-shadow: none;
}

#editprofil img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.title a {
	text-decoration: none;
	color: white;
}

.title a:hover {
	text-decoration: none;
}

.top-judul {
	margin-top: 10px;
}